<ion-view view-title="Sponsors">
    <ion-content>
        <div class="card" ng-repeat="sponsor in viewModel.sponsors">
            <div class="item item-divider">{{sponsor.sponsorType}}</div>
            <div class="item">
                <ion-slide-box auto-play="true" slide-interval="1000" does-continue="true" show-pager="false">
                    <ion-slide ng-repeat="sponsorName in sponsor.sponsorNames">
                        <img ng-src={{sponsorName}} class="item-image">
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
    </ion-content>
</ion-view>