<ion-view view-title="Sessions">
  <ion-content>
    <div class="button-bar padding">
      <a class="button" ng-class="{'button-balanced' : viewModel.isDay1Selected}" ng-click="toggleDay()">Day 1</a>
      <a class="button" ng-class="{'button-balanced' : viewModel.isDay2Selected}" ng-click="toggleDay()">Day 2</a>
    </div>
    <ion-list>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>-->
      <ion-item class="item-text-wrap item-icon-right" ng-repeat="session in viewModel.sessions">
        <h2 style="color:Red">{{session.topic}}</h2>
        <h3 style="color:Black">{{session.speaker}}</h3>
        <h4 style="color:Green">{{session.venue}}</h4>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>