<ion-view view-title="Sessions">
  <ion-header-bar class="bar-subheader">
    <div class="button-bar padding">
      <a class="button button-small" ng-class="{'button-positive' : viewModel.isDay1Selected}" ng-click="toggleDay()">Day 1</a>
      <a class="button button-small" ng-class="{'button-positive' : viewModel.isDay2Selected}" ng-click="toggleDay()">Day 2</a>
    </div>
  </ion-header-bar>
  <ion-content has-subheader="true">
    <br>
    <ion-list>
      <div ng-repeat="session in viewModel.sessions">
        <div class="item item-divider"> {{session.time}}</div>
        <ion-item class="item-text-wrap" ng-repeat="sessionByTime in session.sessions">
          <h2>{{sessionByTime.topic}}</h2>
          <h3 class="positive">{{sessionByTime.speaker}}</h3>
          <h3 class="balanced">{{sessionByTime.venue}}</h3>
          <ion-option-button class="button-balanced" ng-click="markFavorite(sessionByTime)">Favorite</ion-option-button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>